
/.htaccess

# /index.php 
# /config.php | pertence ao repositorio e esta protegido por skip-worktree

# * 
favicon.ico
manifest.json
robots.txt
sitemap.xml

/storage/*
!/storage/contexts/
!/storage/contexts/context-increment.txt
!/storage/menus.php
!/storage/settings.php


templates/*
!templates/oldbegin/

/uploads/*
!/uploads/.gitkeep


# ------------------------------------ 

sftp-config.json
sftp-config.disabled.json

logs
error_log
*.log
*.ton
*.zip

/.anot/
/.dumps/
/.misc/
/.notes/

.DS_Store
*.db

.vscode/
.idea/