#pk-body, #srcode {
    position: relative;
    display: block;
    width: 100%;
    max-height: 85vh;
    height: 100%;
    padding: 11px 13px 90px 13px;
    border: 1px solid #675D37;
    border-left: none;
    border-right: none;
    border-radius: 0;
    box-shadow: none;
    resize: vertical;
    overflow-y: auto;
}
#pk-body {
    font-size: 1.15rem;
    font-family: 'Muli';
    color: #949683;
    background-color: #1c2420; /* #212520 0d2021 */
    letter-spacing: 1.1px;
    line-height: 1.35;
    z-index: 881;
}
#srcode {
    font-size: 1.08rem;
    font-family: 'SrcCode', monospace;
    color: #8E9466;
    background-color: #1D2120;
    white-space: pre-wrap;
    z-index: 884;
}
#pk-body br {
    line-height: 0;
    margin: 0;
    padding: 0;
    display: block;
    height: 0;
}
#pk-body h1 {
    width: 0 !important;
    height: 0 !important;
    margin: 0 0 !important;
    padding: 0 0 !important;
    font-size: 0px !important;
    line-height: 0 !important;
    overflow: hidden !important;
    visibility: hidden;
    opacity: 0 !important;
    display: none !important;
}
#pk-body .focus {
    background-color: #E9E9E9;
    border-radius: 2px;
}
#pk-body h2, #pk-body h3, #pk-body h4, #pk-body h5, #pk-body h6 {
    margin: 9px 0 3px 0;
}
#pk-body h2, #pk-body h3, #pk-body h4, #pk-body h5, #pk-body h6 {
    font-weight: 600;
}
#pk-body h2:first-child, 
#pk-body h3:first-child, 
#pk-body h4:first-child, 
#pk-body h5:first-child, 
#pk-body h6:first-child {
    margin-top: 0;
}
#pk-body h2:last-child, 
#pk-body h3:last-child, 
#pk-body h4:last-child, 
#pk-body h5:last-child, 
#pk-body h6:last-child {
    margin-bottom: 0;
}
#pk-body h2 { font-size: 1.7rem; }
#pk-body h3 { font-size: 1.45rem; }
#pk-body h4 { font-size: 1.3rem; }
#pk-body h5 { font-size: 1.2rem; }
#pk-body h6 { font-size: 1.1rem; }

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* aq remove a margin-top da tag p quando h2-h6 esta antes de p */
#pk-body h2 ~ p, #pk-body h3 ~ p, #pk-body h4 ~ p, #pk-body h5 ~ p, #pk-body h6 ~ p {
    margin-top: 0;
}
#pk-body a, #pk-body a[href] {
    color: #31a9b4;
    text-decoration: underline;
    cursor: text;
}
#pk-body a[data-link] {
    color: #fff;
    background-color: #056AA1;
    text-shadow: none;
}
#pk-body p {
    margin: 10px 0;
}
#pk-body p:first-child {
    margin-top: 0;
}
#pk-body p:last-child {
    margin-bottom: 0;
}
#pk-body ul, #pk-body ol {
    padding-left: 27px;
    margin: 10px 0;
    font-size: 1.1rem;
}
#pk-body .pk-file { /* elemento temporario */
    display: block;
    margin: 0 0;
    padding: 0 0;
    overflow: hidden;
    width: 100%;
}
#pk-body img {
    max-width: 100%; 
    height: auto; 
    font-size: 14px;
}

#pk-body blockquote {
    position: relative;
    margin: 14px 7px;
    padding: 15px 20px;
    color: inherit;
    border: 2px solid #111111;
    border-radius: 1.375rem;
    font-size: 1.4rem;
    font-family: serif;
    font-style: italic;
    line-height: 1.5;
    letter-spacing: 0.08rem;
    text-indent: 1.5rem;
    text-shadow: 1px 1px 1px #000;
    box-shadow: none;
}
#pk-body q::before, q::after {
    font-size: 1.25rem;
    font-style: italic;
}
#pk-body q::before {
    margin-right: 5px;
}
#pk-body cite {
    position: relative;
    font-size: 1rem;
    font-style: italic;
}
#pk-body cite::before {
    position: relative;
    content: "– ";
}
#pk-body mark { 
    padding: 0 2px;
    border-radius: 2px;
    background-color: #474C00;
}
#pk-body hr {
    position: relative;
    display: block;
    margin: 15px 0;
    border-top: 2px solid rgba(0, 0, 0, 0.80);
    border-right: none;
    border-left: none;
    height: 3px;
    box-shadow: 0 1px 1px 1px rgba(255, 255, 255, 0.09) inset;
    clear: both;
}
#pk-body pre {
    white-space: pre-line;
    margin: 10px 0;
    font-family: 'SrcCode', monospace;
    padding: 8px;
    font-size: 1.15rem;
    color: inherit;
    background-color: rgba(255, 255, 255, 0.09);
    border: 1px solid rgba(255, 255, 255, 0.09);
    border-radius: 4px;
    clear: both;
}
#pk-body code {
    font-size: 100%;
    padding: 0 2px;
    color: rgba(182, 110, 134, 0.90);
}
#pk-body strong {
    font-weight: 700;
}
.cn__x__, .cn___x_, .cn_x___, .cn_x_x_ {
    display: grid;
    gap: 7px;
}
.cn__x__ > div, .cn___x_ > div, .cn_x___ > div, .cn_x_x_ > div {
    min-height: 100px;
    border: 1px dashed #888;
    padding: 2.5px;
}
.cn__x__ {
    grid-template-columns: 1fr 1fr;
}
.cn___x_ {
    grid-template-columns: 2fr 1fr;
}
.cn_x___ {
    grid-template-columns: 1fr 2fr;
}
.cn_x_x_ {
    grid-template-columns: 1fr 1fr 1fr;
}
#pk-body .cn__x__ > div p, 
#pk-body .cn___x_ > div p, 
#pk-body .cn_x___ > div p, 
#pk-body .cn_x_x_ > div p {
    margin: 0 0;
    padding: 0 0;
}
/* responsive iframe */
.embed {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}
.embed::before {
    padding-top: 56.25%;
    display: block;
    content: "";
}
.embed iframe {
    position: absolute;
    inset: 0;
    height: 100%;
}
iframe {
    width: 100%;
    border: 0;
}