@font-face {
    font-family: 'Icon';
    src: url("<?php echo dash_url('assets/fonts/icon.eot?2717170') ?>");
    src: url("<?php echo dash_url('assets/fonts/icon.eot?2717170#iefix') ?>") format('embedded-opentype'),
         url("<?php echo dash_url('assets/fonts/icon.woff2?2717170') ?>") format('woff2'),
         url("<?php echo dash_url('assets/fonts/icon.woff?2717170') ?>") format('woff'),
         url("<?php echo dash_url('assets/fonts/icon.ttf?2717170') ?>") format('truetype'),
         url("<?php echo dash_url('assets/fonts/icon.svg?2717170#ico') ?>") format('svg');
    font-weight: normal;
    font-style: normal;
}

#punk * {
    outline: 0; 
    box-sizing: border-box;
}
#punk {
    position: relative;
    border: 1px solid #675D37;
    max-width: 100%;
    overflow: hidden;
    border-radius: 3px;
}